.card{
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  padding: 30px;
  width: 15vw;
  margin-left: 50px;
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.5)
}
h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  text-decoration: none;

}

.navbar ul{
  display: flex;
  gap: 30px;

}